:root{
    --clr-dark: #11151e;
    --clr-dark-opc: #11151ec2;
    --clr-box1: #02457a;
    --clr-box2: #018abe;
    --clr-white1: #97cadb;
    --clr-white2: #d6e8ee;
}
*,
*::before,
*::after{
    margin: 0; border: 0;

    font-family: 'Montserrat';
}
body{
    background-image: url(assets/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}
.navbar{
    width: 100;
    background-color: var(--clr-dark-opc);
    height: 60px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: min(1rem, 2vw);
}
.navbar h2{
    color: var(--clr-white2);
}
.navbar h2,ul{
    padding: 0 20px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 min(20px, 2vw);
    position: relative;
}
.navbar ul li a{
    color: var(--clr-white2);
    text-decoration: none;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    border-radius: 5px;
    background: var(--clr-white1);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.2s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.hero{
    width: 80vw; height: clamp(200px, 50vw, 400px);
    background-color: var(--clr-dark-opc);
    backdrop-filter: blur(10px);
    margin: min(20vh, 10vw) auto 0 auto; 
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{ 
    display: flex;
    flex-direction: column; 
    width: 50%;
    margin-left: min(20px, 10vw);

    gap: 20px;

}
.hero h2,p{
    color: var(--clr-white2);
}
.hero h2{
    font-size: clamp(20px, 2vw, 5vw);
}
.hero p{
    font-size: clamp(10px, 1vw, 40px);
    text-align: justify;
}
.hero button{
    align-self: center;
    width: 50%;
    height: min(6vw, 40px);
    border-radius: 20px;
    background-color: transparent;
    color: var(--clr-white2);
    border: 3px solid var(--clr-white2);
    font-weight: bold;
    position: relative;
    overflow: hidden;
}
span{
    background-color: var(--clr-white2);
    border-radius: 20px;
    height: 100%; width: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: .2s;
}
button:hover{
    color: var(--clr-dark);
    cursor: pointer;
}
button:hover span{
    width: 150%;
}
/* .hero button::before{
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 20px;
    z-index: -1;
    padding: 3px;
    background-color: var(--clr-white1);
} */
.hero img{
    max-height: 30vw;
    height: 80%;
    border-radius: 10px;
    margin-right: min(20px, 10vw);
}