:root{
    --clr-gray: #7d7e8d;
    --clr-dark: #11151e;
    --clr-dark2: #050608;
    --clr-dark-opc: #11151e54;
    --clr-white-opc: #d6e8ee0e;
    --clr-box1: #02457a;
    --clr-box2: #018abe;
    --clr-white1: #97cadb;
    --clr-white2: #d6e8ee;
    --angle: 0deg;
}
*,
*::before,
*::after{
    margin: 0; border: 0;

    font-family: 'Montserrat', 'Century Gothic';
}
body{
    position: relative;
    background-image: url(assets/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
}
#title{
    letter-spacing: -1px;
}
.navbar{
    width: 100;
    background-color: var(--clr-dark-opc);
    height: 60px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: min(1rem, 2vw);
}
.navbar h2{
    color: var(--clr-white2);
}
.navbar h2,ul{
    padding: 0 20px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 min(20px, 2vw);
    position: relative;
}
.navbar ul li a, .navbar ul li p{
    color: var(--clr-white2);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    border-radius: 5px;
    background: var(--clr-white1);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.2s;
}
.navbar ul li:hover:after{
    width: 100%;
}
.hero{
    position: relative;
    width: 80vw; height: clamp(200px, 50vw, 400px);
    background-color: var(--clr-dark-opc);
    backdrop-filter: blur(10px);
    margin: min(20vh, 10vw) auto 0 auto; 
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left{ 
    display: flex;
    flex-direction: column; 
    width: 50%;
    margin-left: min(20px, 10vw);
    padding-right: min(20px, 10vw);
    gap: 1rem;
    border-right: 2px solid var(--clr-white1);
}
.hero h2, .hero p{
    text-align: center;
    color: var(--clr-white2);
}
.hero h2{
    font-size: clamp(20px, 2vw, 5vw);
}
.hero p{
    font-size: clamp(10px, 1vw, 40px);
}
.hero button{
    align-self: center;
    width: 50%;
    height: min(6vw, 40px);
    border-radius: 20px;
    background-color: transparent;
    color: var(--clr-white2);
    border: 2px solid var(--clr-white2);
    font-weight: bold;
    position: relative;
    overflow: hidden;
    margin-top: 2rem;
}
span{
    background-color: var(--clr-white2);
    border-radius: 20px;
    height: 100%; width: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: .2s;
}
button:hover{
    color: var(--clr-dark);
    cursor: pointer;
}
button:hover span{
    width: 100%;
}
.hero img{
    max-height: 30vw;
    height: 80%;
    border-radius: 10px;
    margin-right: min(50px, 5vw);
}
.contain-login{
    z-index: 1;
    position: fixed;
    left: -100%; top: 0;
    width: 30%;

    transition: 0.5s ease-in 0ms;
}
.login_form{
    height: min(100vh, 800px);
    background-color: var(--clr-dark2);
    outline: 5px solid var(--clr-dark2);
    outline-offset: 5px;

    display: flex;
    align-items: center;
    position: relative;
}
.active_form{
    left: 0%;
}
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
.login_form::before{
    content: '';
    width: 100%;
    height: 100%;
    top: -5px; left: 0;
    position: absolute;
    background-image: conic-gradient(from var(--angle), var(--clr-dark) 40%, var(--clr-box2), var(--clr-dark));
    z-index: -1;
    padding: 5px;
    animation: 5s color-gradience linear infinite;
}
.login_form form{
    margin: 15%;
}
.login_form .close_btn{
    color: var(--clr-white2);
    font-size: 30px;
    background-color: transparent;
    text-align: right;
    cursor: pointer;
}
.login_form form input[type='text'],
.login_form form input[type='password']{
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 2rem;
    width: 100%;
    align-self: center;
    border-bottom: 1px solid var(--clr-gray);
    outline: 0;
    background-color: var(--clr-dark2);
    color: var(--clr-white2);
}
.login_form h2{
    color: var(--clr-white1);
    margin-bottom: 3rem;
}
.login_form label{
    color: var(--clr-white2);
}
.login_form form input[type='submit']{
    margin-top: 2rem;
    height: 3rem;
    width: 100%;
    border-radius: 20px;
    background-color: var(--clr-box2);
    color: var(--clr-dark2);
    font-weight: bold;
    font-size: 1.2rem;
    align-self: center;
    transition: .1s;
    position: relative;
}
.login_form form input[type='submit']:hover{
    cursor: pointer;
    background-color: var(--clr-box1);
    color: var(--clr-white2);
    outline: 2px solid var(--clr-box2);
}
.login_form form a{
    margin-top: 10px;
    display: block;
    text-align: right;
    text-decoration: none;
    color: var(--clr-white-opc);
}
.wrapper{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.container{
    height: fit-content+200px;
    width: max(200px, 30vw);
    margin-bottom: 20px;
    background-color: var(--clr-dark);
    border-radius: 10px;
    box-shadow: var(--clr-dark-opc) 10px 10px 10px;
    transition: 0.5s;
    cursor: pointer;
}
.container:hover{
    transform: scale(105%);
}
.container h3{
    margin: 2rem 1rem 1rem 1rem;
    color: var(--clr-box2);
}
.container p{
    font-size: clamp(10px, 1vw, 40px);
    margin: 1rem max(3vw, 5px);
    color: var(--clr-white2);
    letter-spacing: .05rem;
    line-height: min(1.5rem, 3vw);
}
.body{
    background-image: linear-gradient(var(--clr-dark), var(--clr-dark2));
    height: fit-content+500px;
    padding: min(200px, 10vw) 0;

    display: flex;
    flex-direction: column;align-items: center;
    position: relative;
}
.body::before{
    z-index: 0;
    content: '';
    position: absolute;
    top: 10%;
    left: 50%;
    width: 2px;
    height: 80%;
    background-color: var(--clr-white2);
}
.container2{
    height: clamp(200px, 50vw, 600px);
    width: max(200px, 30vw);
    transform: translateX(-20vw);
    margin: 50px;

    border-radius: 10px;
    outline: 2px solid var(--clr-white2);
    outline-offset: 15px;

}
.container2 h3{
    color: var(--clr-white2);
    margin-top: 40px;
    text-align: center;
}
.container2 .box_inner_shadow{
    border-radius: 10px;
    z-index: -1;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(var(--clr-dark2), transparent);
    position: absolute;
}
.container2 .under{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    text-align: center;
    background-color: var(--clr-white-opc);
    backdrop-filter: blur(10px);
    overflow: hidden;
    transition: .2s ease-out;
}
.container2:hover .under{
    height: 20%;
}
.container2 .under p{
    font-size: clamp(10px, 1vw, 40px);
    margin-top: 5%;

    color: var(--clr-white1);
}
.container2::before{
    z-index: -2;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    filter:brightness(50%);
}
#ferin::before{
    background-image: url(assets/ferin1.jpg);
}
#alexander{
    transform: translateX(20vw);
}
#alexander::before{
    background-image: url(assets/alexander1.jpg);
}
#solaire::before{
    background-image: url(assets/solaire1.jpg);
}
footer{
    background-color: var(--clr-dark2);
    border-top: 1px solid var(--clr-white2);
    color: var(--clr-white1);
    height: 4rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer ul li{
    list-style: none;
    display: inline-block;

}
footer ul li a{
    text-decoration: none;
    color: var(--clr-white1);
    margin: 0 min(20px, 2vw);
}
footer p, footer ul{
    margin: 0 20px;

}
@keyframes color-gradience{
    from{
        --angle: 0deg
    }
    to{
        --angle: 360deg
    }
}
@media only screen and (max-width: 650px){
    .body::before{
        opacity: 0;
    }
    .contain-login{
        width: 100%;
        height: 80vh;
        top: 5vh;
    }
}